.main_header .header_callback{
	border-left: 1px solid #393939;
}

/*------------  START: main header img block  ----------*/
	.main_header_block{
		padding: 75px 7px;
		text-align: center;
		background: url(../images/main_header_bg.jpg) 0% 0% no-repeat;
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
	}

	/*--------  START:breadcrumbs  --------*/
		.breadcrumbs{display: inline-block;}
			.breadcrumbs_item{
				display: inline-block;
				position: relative;
			}
			.breadcrumbs_item:after{
				content: "";
				width: 5px;
				height: 9px;
				right: -5px;
				top: 50%;
				margin-top: -4.5px;
				position: absolute;
				background: url(../images/arrow_breadcrumbs.png) 0% 0% no-repeat;
			}
			.breadcrumbs_item:last-child:after{
				display: none;
			}
				.breadcrumbs_link{
					color: #FFF;
					float: left;
					padding: 5px 10px;
					position: relative;
					display: inline-block;
				}

	/*--------  END: breadcrumbs  ------*/

/*------------  END: main header img block  ----------*/


/*--------  START: documents block  --------*/

	.documents_block{
		color: #737171;
	}

		.arrow_list{
			margin-bottom: 20px;
		}
			.arrow_list>li{
				margin-bottom: 7px;
				padding-left: 34px;
				background: url(../images/arrow_green.png) 0% 8px no-repeat;
			}

			.arrow_list ul{
				padding-top: 10px;
			}
				.arrow_list ul li{
					position: relative;
					margin-bottom: 7px;
					padding-left: 28px;
				}

					.arrow_list ul li::before{
						width: 8px;
						height: 8px;
						background-color: #39b782;
						display: block;
						position: absolute;
						left: 0;
						top: 8px;
						border-radius: 8px;
						content: '';
					}

		.point_list{}
			.point_list li{
				line-height: 2;
				position: relative;
				padding-left: 125px;
			}
			.point_list li:before{
				content: "";
				top: 3px;
				left: 30px;
				width: 8px;
				height: 8px;
				-webkit-border-radius: 50%;
				        border-radius: 50%;
				background-color: #39B782;
			}

/*--------  END: documents block  ------*/


/*--------  START: font styles  --------*/
	[data-color="white"]{
		color: #FFF;
	}
	[data-color="black_light"]{
		color: #222;
	}

	.light_underline{
		padding-bottom: 7px;
		margin-bottom: 20px;
		border-bottom: 1px solid #EAEAEA;
	}
	.min_dark_underline{position: relative;}
		.min_dark_underline:after{
			content: "";
			left: 0;
			bottom: -10px;
			width: 40px;
			height: 2px;
			position: absolute;
			background-color: #000;
		}

/*--------  END: font styles  ------*/

	
