/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 1220px){
 body{min-width: 979px;}
	/*---  header  ---*/
	.header_callback{width: 150px;}
		.header_callback .btn1{font-size: 11px; padding: 7px 10px 6px;}
	.menu{padding: 14px 155px 14px 0;}
		.menu_item{font-size: 13px; margin: 0 7px; }
			.menu_link{font-weight: 500;}

	/*---  Content  ---*/
		.img_box img,
		.img_container img{width: 100%;}
	.img_box figcaption{font-size: 16px;}
}

@media only screen and (max-width: 995px) {
 body{min-width:768px; overflow-x: hidden;}
	/*---  header  ---*/
	.header_nav{
		top: 0;
		right: -260px;
		bottom: 0;
		z-index: 999;
		width: 250px;
		/*display: block;*/
		position: fixed;
		background-color: #222;
		-webkit-transition: all 0.1s ease;
	    -moz-transition: all 0.1s ease;
	    -o-transition: all 0.1s ease;
	    transition: all 0.1s ease;
		-webkit-box-shadow: -2px 1px 20px rgba(255, 255, 255, 0.5);
		        box-shadow: -2px 1px 20px rgba(255, 255, 255, 0.5);
	}
	.header_callback{
		float: right;
	}

	.nav_overlay .header_nav{
		right: 0;
		-webkit-transition: all 0.5s ease;
	    -moz-transition: all 0.5s ease;
	    -o-transition: all 0.5s ease;
	    transition: all 0.5s ease;
		
	}
	#nav-icon,
	.nav_overlay #close_icon{
		display: block;
	}

		.menu{
			width: 100%;
			padding: 14px;
			display: inline-block;
		}
			.menu_item{
				width: 100%;
				margin: 7px;
			}
	/*#nav-icon{display: block;}*/
	.header_callback{
		position: relative;
		display: inline-block;
		border: none !important;
	}	
	.home_top_box{
		min-height: 350px;
	}
		.home_top_box figcaption{margin-top: 0;}
		.slogan1{font-size: 43px;}

	/*---  content  ---*/
	.about_step{
		margin-bottom: 10px;
		padding: 10px;
	}
	.about_step  .title3{
		font-size: 18px;
	}

	.works_time_icon{width: 70px;}
		.list1{font-size: 14px;}
		.works_label{width: 135px; margin-right: 5px;}
			.works_time .title3{line-height: 1;}

	.service_thumb{font-size: 16px; padding: 20px 25px 0; height: 150px;}
	.contact_form_section .title_bar{margin-bottom: 10px;}

	.gallery_item{width: 30%;}
		.gallery_item img{
			width: 100%;
		}

}

@media only screen and (max-width: 767px) {
 body{min-width:420px;}
 	/*---  header  ---*/
 	.main_header_block{padding: 30px 7px;}
	.slogan1{font-size: 40px;}
 	.content_item{padding: 50px 0;}
 	.title_bar + .row .al_right{
 		text-align: left;
 	}
 	.title2_1, .title2_2{font-size: 22px;}

	/*---  Content  ---*/
	
	.about_step  .title3{
		font-size: 15px;
		min-height: 55px;
	}
		.about_step p{
			float: left;
		}
	
	.header_nav .btn1{display: inline-block; margin-left: 20px;}
	.header_callback{display: none;}
	.about_step  .title3{font-size: 16px;}
	.advice_item, .gallery_item{width: 100%;float: none;}

	.works_times_section{padding: 10px 0;}
		.works_time_icon{display: none;}
		.works_time .title3{margin-bottom: 5px;}

	.contact_form_section .title_bar + div{margin-bottom: 10px;}


}

@media only screen and (max-width: 479px) {
 body{min-width:300px;}
 	.links_section{padding: 15px 0;}
 	#nav-icon{margin: 4px 0 4px 15px;}
 	header{
 		padding: 20px 0 0px;
 	}
	.logo{height: 40px;}
 	.logo a, .logo a img{height: 100%;}
	/*---  content  ---*/
	
	.title2{font-size: 22px;}
	.gallery_item{width: calc(100% - 20px);}
}