@import "../css/reset.css";
@import "../css/document.css";
@import "../css/bootstrap_grid.css";
@import "../fonts/font-awesome-4.6.3/css/font-awesome.min.css";
@import "../css/jquery.fancybox-1.3.4.css";
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%; height: 100%;}

body {
  font-family: 'Raleway', sans-serif;
  font-size:14px;
  line-height:1.74;
  color:#595757;
  min-width:1200px;
  background-color: #222;
  height: 100%;
  -webkit-text-size-adjust: none;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------------------> Links And buttons <------------------*/
a {
  color:#595757;
  outline:none;
  text-decoration:none;
  cursor:pointer;
}
a:hover{
  color:#39b782;
  text-decoration:none;
}

.social a:hover{
  background-color:#39b782;
}

.btn1{
  display:inline-block;
  padding: 7px 20px 6px;
  margin: 0 0 0;
  font-size: 14px;
  line-height: 19px;
  color:#fff;
  border: 1px solid #fff;
  text-transform: uppercase;
 }
.btn1:hover{
  background:#39b782;
  color:#fff;
  border-color: #39b782;
}

.btn2{
  display:inline-block;
  text-align: center;
  padding: 11px 20px;
  margin: 0 0 0;
  font-size: 14px;
  line-height: 19px;
  border: none;
  color:#fff;
  background-color: #39b782;
  text-transform: uppercase;
 }
.btn2:hover{
  background:#2a9467;
  color:#fff;
}

button{
  cursor: pointer;
  outline: none !important;
}

/*----------------------> Basic Classes <------------------*/
.reg {text-transform:uppercase}
.f_left {float:left}
.f_right {float:right}
.al_left{text-align: left;}
.al_right {text-align:right}
.al_center {text-align:center}

.it{font-style:italic}
.let{letter-spacing:-1px}

.full_w{
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.val_mid{vertical-align: middle;}

.font_18{
  font-size: 18px;
  line-height: 1.23;
}
/*----------------------> Indents Zero <------------------*/

.m_b_zero{ margin-bottom:0 !important;}
.m_l_zero{ margin-left:0 !important;}
.p_b_zero{ padding-bottom:0 !important;}
.p_l_zero{ padding-left:0 !important;}

/*----------------------> Positions <------------------*/
.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.wrapper {overflow:hidden}
.f_elem>*:first-child{margin-top: 0 !important;}
.f_elem1>*:first-child{margin-top: 0 !important;border: none !important;}

.bg_none{ background:none !important;}

/*----------------------> Displays <------------------*/

.d_block{ display:block;}
.d_ib{ display:inline-block;}
.d_none{ display:none;}
.d_tc{ display:table-cell;}
.d_t{ display:table;}


/*----------------------> Basic Colors <------------------*/
.dark{
  color: #222222;
}
.white{
  color: #fff;
}

.grey_bg{
  background-color: #f9f9f9;
}


/*======================> Header <======================*/

header{
  padding: 24px 0;
}

.home header{
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid #fff;
}
.home header.fixed{
  background-color: #222222;
  border-bottom-color: transparent;
}

  .logo{
    float: left;
  }
    .logo a{
      display:block;
    }

/* Primary nav */
.header_nav .btn1{display: none;}
.menu{
  padding: 14px 225px 14px 0;
}
  .menu_item{
    float: left;
    font-size: 14px;
    margin: 0 13px;
    text-transform: uppercase;
  }

  #nav-icon,
  #close_icon{
    display: none;
    
    width: 40px;
    height: 33px;
    position: relative;
    margin: 5px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  #close_icon{
    float: right;
    margin: 15px 15px 0 0;
    width: 30px !important;
  }
  #nav-icon{
    margin: 10px 0 10px 15px;
    float: right;
  }
    #nav-icon span,
    #close_icon span{
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      background: #fff;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
    }
    #nav-icon span:nth-child(1) {
      top: 0px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }

    #nav-icon span:nth-child(2) {
      top: 12px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }

    #nav-icon span:nth-child(3) {
      top: 24px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }

    #close_icon span:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 4px;
      left: 8px;
    }


    #close_icon span:nth-child(2) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 4px;
      left: 8px;
    }

    .menu_link{
      color: #fff;
      font-weight: bold;
      display: block;
    }

.header_callback{
  position: absolute;
  right: 15px;
  top: -24px;
  bottom: -24px;
  width: 210px;
  padding: 32px 0 0;
  text-align: right;
  border-left: 1px solid #fff;
}

.fixed .header_callback{
  border-color: #393939;
}

/*=====================> Content ========================*/
#content {
  padding:0px 0px 0px 0px;
  background-color: #fff;
}
.cont_pad{padding:0 0 0 0 !important;}

.simple_img{
  max-width: 100%;
  height: auto;
}

.content_item{
  padding: 95px 0;
}

hr{
  height: 1px;
  border: none;
  background-color: #eaeaea;
  margin: 20px 0;
}


.home_top_box{
  min-height: 100%;
  position: relative;
  background: url(../images/home_img1.png) 50% 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

  .home_top_box figcaption{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 50px;
    text-align: center;
    color: #fff;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

    .slogan1{
      font-size: 50px;
      line-height: 1;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .slogan2{
      font-size: 20px;
      line-height: 1;
    }

  /* works times section */

.works_times_section{
  color: #fff;
  background: url(../images/works_time_bg.jpg) 50% 0 no-repeat;
}

.works_time_icon{
  width: 85px;
  padding-top: 5px;
}

  .works_label{
    display: inline-block;
    width: 70px;
    margin-right: 15px;
  }

/* all serices */

.all_service_thumb{
  background: url(../images/all_service_thumb_bg.jpg) 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 430px;
  text-align: right;
  padding: 27px;
  position: relative;
}

  .all_service_thumb .title2_2{
    position: relative;
    padding-bottom: 17px;
  }

    .all_service_thumb .title2_2::after{
      display: block;
      width: 40px;
      height: 2px;
      background-color: #fff;
      position: absolute;
      right: 0;
      bottom: 0;
      content: "";
    }

    .all_service_thumb .btn2{
      position: absolute;
      bottom: 27px;
      right: 27px;
    }

    .service_thumb{
      border: 1px solid #eaeaea;
      padding: 45px 25px 0;
      font-size: 20px;
      height: 200px;
      text-align: center;
      color: #222222;
      position: relative;
      overflow: hidden;
    }
      .service_thumb figcaption{
        padding-top: 15px;
        line-height: 1.23;
        font-weight: bold;
      }

      .service_thumb:hover .rollover_content{
        opacity: 1;
        visibility: visible;
      }

      .rollover_content{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        width: 100%;
        height: 100%;
        font-size: 14px;
        line-height: 24px;
        overflow: auto;
        background-color: #39b782;
        color: #fff;
        display: table;
      }

        .rollover_content_inner{
          display: table-cell;
          padding: 0 20px;
          vertical-align: middle;
        }

/* contact form setcion */

.contact_form_section{
  background: url(../images/contact_section_bg.jpg) 50% 0 no-repeat;
}

/* testimonials section */


.testimonials_section{
  background-color: #f9f9f9;
}

  .testimonial_item blockquote{
    background-color: #fff;
    padding: 25px 50px;
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.2);
    box-shadow: 0 2px 2px rgba(0,0,0,.2);
    margin-bottom: 30px;
    position: relative;
    font-size: 16px;
    line-height: 26px;
    margin-right: 20px;
  }
  
  .testimonial_item blockquote::before{
    width: 20px;
    height: 40px;
    position: absolute;
    top: 45px;
    left: 0;
    background: #000 url(../images/quotes.png) 50% 50% no-repeat;
    content: "";
  }
  .testimonial_item blockquote::after{
    display: block;
    width: 18px;
    height: 13px;
    top: 100%;
    left: 20px;
    position: absolute;
    background: url(../images/block_arrow.png) 0 0 no-repeat;
    content: "";
  }

  .testimonial_item figcaption .author{
    padding-left: 18px;
  }


 .owl-pagination{
  text-align: center;
  padding-top: 50px;
 } 
  .owl-pagination .owl-page{
    width: 20px;
    height: 10px;
    position: relative;
    margin: 0 5px;
    display: inline-block;
  }

      .owl-pagination .owl-page::before{
        width: 100%;
        height: 2px;
        top: 50%;
        position: absolute;
        display: block;
        left: 0;
        background-color: #222222;
        content: "";
      }

      .owl-pagination .owl-page.active::before{
        background-color: #39b782;
      }


/* partners section */
.partners{

}

  .partner_item{
    display: inline-block;
    vertical-align: middle;
    margin: 0 40px 15px;
  }


/* partnership section */
.partnership_section{
  background-color: #000;
  padding: 30px 0;
}
  .partnership_label{
    font-size: 26px;
    font-weight: bold;
    vertical-align: middle;
  }
    .partnership_label img{
      margin-right: 15px;
      vertical-align: middle;
    }

    .partnership_btn{
      margin-left: 40px;
    }

/* about steps */
.about_step{
  background-color: #f9f9f9;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,.25);
  box-shadow: 2px 2px 3px rgba(0,0,0,.25);
  padding: 30px;
  text-align: center;
  position: relative;
}
  .about_step::after{
    display: block;
    width: 18px;
    height: 28px;
    position: absolute;
    top: 20px;
    left: 100%;
    background: url(../images/about_step_arrow.png) 0 0 no-repeat;
    content: "";
  }

  .about_step figcaption{
    font-weight: bold;
    margin: 0 -15px;
    line-height: 28px;
  }

/* accordions */

.accordion{

}

  .accordion dt{
    cursor: pointer;
    position: relative;
    background-color: #222222;
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    padding: 13px 20px;
    margin: 15px 0;
  }
    .accordion dt::after{
      display: block;
      position: absolute;
      right: 20px;
      top: 50%;
      margin-top: -13px;
      width: 26px;
      height: 26px;
      font-size: 30px;
      line-height: 26px;
      font-weight: bold;
      color: #000;
      text-align: center;
      background-color: #fff;
      content: "+";
    }

    .accordion dt.active::after{
      content: "-";
    }
  .accordion dd{
    background-color: #f9f9f9;
    padding: 13px 20px;
    display: none;
    -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,.25);
    box-shadow: 2px 2px 3px rgba(0,0,0,.25);
  }

  .img_box{
    position: relative;
  }

    .img_box::after{
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 10;
      height: 331px;
      background: url(../images/gradient.png) 50% 0 repeat-x;
      content: "";
    }

    .img_box img{
      position: relative;
      z-index: 1;
    }

    .img_box figcaption{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 11;
      color: #fff;
      font-size: 20px;
      padding: 15px 20px;
    }

  /* advices */
  .advices_box{
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,.25);
    box-shadow: 2px 2px 3px rgba(0,0,0,.25);
    counter-reset:figure;
  }

    .advice_item{
      padding: 4px 20px 37px;
      float: left;
      width: 50%;
      border-right: 1px solid #f1f1f1;
      border-bottom: 1px solid #f1f1f1;
    }

    .advice_item::before{
      content:'0'counter(figure);
      counter-increment:figure;
      font-size: 40px;
      font-weight: bold;
      color: #39b782;
    }

    .advice_item figcaption{
      padding-top: 15px;
      margin-top: 3px;
      border-top: 1px solid #eaeaea;
    }

.contact_list{
  margin-bottom: 20px;
  
}

  .contact_list li{
    overflow: hidden;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .contact_list li:last-child{
    margin-bottom: 0px;
    padding-bottom: 0;
    border: none;
  }

  .contact_icon{
    float: left;
    margin-right: 20px;
    display: block;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    line-height: 36px;
    text-align: center;
    background-color: #39b782;
    color: #fff;
    font-size: 20px;
    margin-top: 4px;
  }

  .contact_icon .fa{
    vertical-align: middle;
  }


/* gallery*/
.gallery_item{
  display: block;
  position: relative;
  float: left;
  margin: 0 10px 20px;
}

  .gallery_box{
    margin: 0 -10px;
  }

  .gallery_item .gallery_caption{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 20px;
    padding: 20px;
    background-color: rgba(90,191,149, .8);
  }

    .gallery_item:hover .gallery_caption{
      visibility: visible;
      opacity: 1;
    }
/*=====================> Paragraphs ========================*/

p {margin-bottom:24px}
.mb1{ margin-bottom:1px;}
.mb2{ margin-bottom:2px;}
.mb3{ margin-bottom:3px;}
.mb4{ margin-bottom:4px;}
.mb5{ margin-bottom:5px;}
.mb6{ margin-bottom:6px;}
.mb7{ margin-bottom:7px;}
.mb8{ margin-bottom:8px;}
.mb9{ margin-bottom:9px;}
.mb10{ margin-bottom:10px;}
.mb11{ margin-bottom:11px;}
.mb12{ margin-bottom:12px;}
.mb13{ margin-bottom:13px;}
.mb14{ margin-bottom:14px;}
.mb15{ margin-bottom:15px;}
.mb16{ margin-bottom:16px;}
.mb17{ margin-bottom:17px;}
.mb18{ margin-bottom:18px;}
.mb19{ margin-bottom:19px;}
.mb20{ margin-bottom:20px;}
.mb21{ margin-bottom:21px;}
.mb22{ margin-bottom:22px;}
.mb23{ margin-bottom:23px;}
.mb24{ margin-bottom:24px;}
.mb25{ margin-bottom:25px;}
.mb26{ margin-bottom:26px;}
.mb27{ margin-bottom:27px;}
.mb28{ margin-bottom:28px;}
.mb29{ margin-bottom:29px;}
.mb30{ margin-bottom:30px;}
.mb31{ margin-bottom:31px;}
.mb32{ margin-bottom:32px;}
.mb33{ margin-bottom:33px;}
.mb34{ margin-bottom:34px;}
.mb35{ margin-bottom:35px;}
.mb36{ margin-bottom:36px;}
.mb37{ margin-bottom:37px;}
.mb38{ margin-bottom:38px;}
.mb39{ margin-bottom:39px;}
.mb40{ margin-bottom:40px;}
.mb41{ margin-bottom:41px;}
.mb42{ margin-bottom:42px;}
.mb43{ margin-bottom:43px;}
.mb44{ margin-bottom:44px;}
.mb45{ margin-bottom:45px;}
.mb46{ margin-bottom:46px;}
.mb47{ margin-bottom:47px;}
.mb48{ margin-bottom:48px;}
.mb49{ margin-bottom:49px;}
.mb50{ margin-bottom:50px;}
.mb51{ margin-bottom:51px;}
.mb52{ margin-bottom:52px;}
.mb53{ margin-bottom:53px;}
.mb54{ margin-bottom:54px;}
.mb55{ margin-bottom:55px;}
.mb58{ margin-bottom:58px;}
.mb62{ margin-bottom:62px;}
.mb75{ margin-bottom: 75px;}


/*=====================> Lists ========================*/
.list1{}
.list1 li{
  margin-bottom: 8px;
}
.list1 a{}

.list2{}
.list2 li{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list2 a{}

.list3{}
.list3 li{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list3 a{}

/*=====================> Titles ========================*/
h2,h3,h4{
  font-weight:normal;
}
.title1{
  font-size: 34px;
  line-height: 1.1;
  font-weight: 700;
}

.title2_1,
.title2_2{
  font-size: 26px;
  line-height: 1.4;
  font-weight: bold;
}

.title2_2{
  color: #fff;
}

.title2{
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: #222222;
  position: relative;
  text-align: center;
  padding-bottom: 10px;
}

  .title2::before{
    display: block;
    position: absolute;
    background-color: #222222;
    width: 40px;
    height: 2px;
    bottom: 0;
    left: 50%;
    margin-left: -20px;
    content: "";
  }

.title2.extra{
  text-align: left;
}
  .title2.extra::before{
    left: 0;
    margin-left: 0;
  }

.title3{
  font-size: 20px;
  font-weight: bold;
}

.title4{
  font-size: 18px;
  font-weight: bold;
}

.title5{
  font-size: 16px;
  font-weight: bold;
}

.title6{
  font-weight: bold;
  line-height: 1.5;
}


.title_caption{
  color: #a0a0a0;
  font-style: italic;
  text-align: center;
  margin-bottom: 5px;
}

.white .title_caption,
.white .title2{
  color: #fff;
}

.white .title2::before{
  background-color: #fff;
}

.title_bar{
  margin-bottom: 45px;
}

/*================================>> GOOGLE FONTS  <<========================================*/

.osans,
.txt_field,
button,
.advice_item::before{
  font-family: 'Open Sans', sans-serif;
}

/*================================>> hovers <<========================================*/
a,
.rollover_content,
.gallery_item .gallery_caption{
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
a:hover,
.service_thumb:hover .rollover_content,
.gallery_item:hover .gallery_caption{
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}



/*================================>> Contact Form <<========================================*/
#contact-form {
  padding:0px 0 0 0;
  position: relative;
}
#contact-form .success
{
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left:0;
  z-index: 99;
  background: #fff;
  border: 1px solid #000;
  text-align: center;
  padding: 20px 0;
}
.txt_field{
  margin:0;
  width: 100%;
  font-size:14px;
  border: none;
  border-bottom: 1px solid #a0a0a0;
  color:#a0a0a0;
  padding:7px 0 10px;
  font-style: italic;
  outline:none;
  position:relative;
  background: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.contact_form_section .txt_field{
  border-color: #fff;
}

.btn_sbm{
  width: 100%;
}
.contact_form_row{
  margin-bottom: 22px;
}

.msg_field{
  overflow:auto;
  height:80px;
  resize:none;
  margin: 0 0 0 0;
}

#contact-form .error, #contact-form .empty, #contact-form .success {display:none;}
#contact-form .error, #contact-form .empty {
  text-align:left;
  color:red;
  font-size:11px;
  position: absolute;
  right: 10px;
  top: 5px;
}
#contact-form .buttons2 {
  overflow:hidden;
  text-align:right;
  position:relative;
  clear:both;
  padding-top:25px;
}
#contact-form .buttons2 a {
	cursor:pointer;
	margin-top:0;
	text-align:center;
}
#contact-form span{
  display:block;
  margin: 0px 0 0 5px;
 }

.map_wrapper{
  overflow:hidden;
  display:inline-block;
  margin-bottom:26px;
}


/*================================>> Contacts Info <<========================================*/
#map_canvas {
   width:100%;
   height:350px;
}
.adress{}
.adress span{
  display:inline-block;
}
.adress dt{ margin-bottom:14px;}

/* links section */

.links_section{
  padding: 55px 0;
}

.links_section,
.links_section a{
  color: #a0a0a0;
} 

.news_list{

}
  .news_list li{
    overflow: hidden;
    border-bottom: 1px solid #393939;
    padding-bottom: 17px;
    margin-bottom: 18px;
  }

  .news_list li:last-child{
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .news_list .news_descr{
    padding-left: 20px;
  }

    .news_time{
      font-size: 12px;
    }
/*================================>> Footer <<========================================*/
footer {
}

.footer_inner{
  padding:22px 0;
  border-top: 1px solid #393939;
}
.social{
  overflow:hidden;
}
.social a{
  display:inline-block;
  width:40px;
  height:40px;
  overflow:hidden;
  margin-left:8px;
  color: #fff;
  text-align: center;
  background-color: #393939;
}

.social a .fa{
  line-height: 40px;
}

/*============================= Easy responsive tabs ============================*/


.resp-tabs-list li {
    
}


h2.resp-accordion {
    display: none;
}

.resp-tab-content {
    display: none;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-easy-accordion  h2.resp-accordion {
        display: block;
}

.resp-tab-content-active {
    display: block;
}


@media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }

    
    .resp-accordion-closed {
        display:none !important;
    }
    
}


/*============================ Arctic modal =============================*/
.arcticmodal-overlay,
.arcticmodal-container { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 1000; }
.arcticmodal-container { overflow: auto; margin: 0; padding: 0; border: 0; border-collapse: collapse; }
*:first-child+html .arcticmodal-container { height: 100% }
.arcticmodal-container_i { height: 100%; margin: 0 auto; }
.arcticmodal-container_i2 { padding: 24px; margin: 0; border: 0; vertical-align: middle; }
.arcticmodal-error { padding: 20px; border-radius: 10px; background: #000; color: #fff; }
.arcticmodal-loading { width: 80px; height: 80px; border-radius: 10px; background: #000 url(loading.gif) no-repeat 50% 50%; }


/* ========================== OWL CAROUSEL =============================*/
/* 
 *  Core Owl Carousel CSS File
 *  v1.3.2
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* display none until init */
.owl-carousel{
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
  overflow: hidden;
  position: relative;
  width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
  
.owl-carousel .owl-item{
  float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
  cursor: pointer;
}
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

